@model IEnumerable<arabaSizin.Models.Ilan>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <br />

    <div class="row">
        <div class="col-md-3">
            <br />
            <!--Filtreleme Kısmı-->
            @Html.Action("PartialFilter", "Home")
        </div>

        <div class="col-md-9">

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/Home/Index">Anasayfa</a></li>
                    <li class="breadcrumb-item active" aria-current="page">İlan Listesi</li>
                </ol>
            </nav>
            <div class="img-thumbnail">
                <br />

                <table class="table">
                    <tr>
                        <th>
                            Marka
                        </th>
                        <th>
                            Model
                        </th>
                        <th>
                            Durum
                        </th>
                        <th>
                            Şehir
                        </th>
                        <th>
                            Fiyat
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Model.Marka.markaAd)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Model.modelAd)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Durum.durumAd)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Sehir.sehirAd)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.fiyat)
                            </td>
                            <td>
                                <a class="btn btn-outline-success" href="@Url.Action("Images", new { id = item.ilanId })"><i class="bi bi-camera"></i> Resim Ekle</a>
                                <a class="btn btn-outline-primary" href="@Url.Action("Edit", new { id = item.ilanId })"><i class="bi bi-pencil"></i> Düzenle</a>
                                <a class="btn btn-outline-danger" href="@Url.Action("Delete", new { id = item.ilanId })"><i class="bi bi-trash"></i> Sil</a>
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>
