@model arabaSizin.Models.SifreDegistir
@{
    ViewBag.Title = "ChangePassword";
}

<div class="container">
    <br />

    <div class="row">
        <div class="col-md-3">
            <br />
            <!--Filtreleme Kısmı-->
            @Html.Action("PartialFilter", "Home")
        </div>

        <div class="col-md-9">

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/Home/Index">Anasayfa</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Şifre Değiştir</li>
                </ol>
            </nav>
            <div class="img-thumbnail">
                <br />
                @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "row" }))
                {
                    <div class="row mb-3">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">Eski Şifre</label>
                        <div class="col-sm-4">
                            @Html.PasswordFor(n => n.oldPassword, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(n => n.oldPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">Yeni Şifre</label>
                        <div class="col-sm-4">
                            @Html.EditorFor(n => n.newPassword, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(n => n.newPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">Şifre Tekrar</label>
                        <div class="col-sm-4">
                            @Html.EditorFor(n => n.conNewPassword, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(n => n.conNewPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="inputEmail3" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-outline-primary col-6">
                                <i class="bi bi-pencil"></i> Şifre Değiştir
                            </button>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
</div>
